# Virtual environment and environment files
env_lab*/
.env

# DuckDB files
*.duckdb

# Python cache
__pycache__/

# Airflow logs
airflow/logs/

# Some files
demo.ipynb
test.py
yellow_tripdata_2026-01.parquet